<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carnaticapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".bottom_navigation"
            android:label="@string/title_activity_bottom_navigation" />
        <activity
            android:name=".ChooserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".CustomAuthActivity"
            android:label="@string/label_custom_auth" />
        <activity
            android:name=".GoogleSignInActivity"
            android:label="@string/label_google_sign_in" />
        <activity
            android:name=".FacebookLoginActivity"
            android:label="@string/label_facebook_login" />
        <activity
            android:name=".EmailPasswordActivity"
            android:label="@string/label_emailpassword"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".PasswordlessActivity"
            android:label="@string/label_passwordless"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data
                    android:host="your-project-id.firebaseapp.com"
                    android:scheme="https" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhoneAuthActivity"
            android:label="@string/label_phone_auth"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AnonymousAuthActivity"
            android:label="@string/label_anonymous_auth" />
        <activity
            android:name=".FirebaseUIActivity"
            android:label="@string/label_firebase_ui" />
        <activity
            android:name=".GenericIdpActivity"
            android:label="@string/label_generic_idp" />
        <activity
            android:name=".MultiFactorActivity"
            android:label="@string/label_multi_factor" />
        <activity
            android:name=".MultiFactorEnrollActivity"
            android:label="MultiFactor Sign-In" />
        <activity
            android:name=".MultiFactorSignInActivity"
            android:label="MultiFactor Sign-In" />
        <activity
            android:name=".MultiFactorUnenrollActivity"
            android:label="MultiFactor Unenroll" />
        <!-- Facebook Configuration -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
    </application>

</manifest>